h1 {
    margin-left: 10%;
    margin-top: 10%;
    color: #eaab17;
}

img{
    text-align: center;
    margin-left: 13%;
}

.cizq{
    text-align: center;
    flex: content;
}
.cder{
    text-align: center;
    flex: content;
}

p{
    margin-top:30%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
}
a{
    color: #ee07ff;
}
.columnas {
    display: flex; 
}
.columnaizq{
    background-image: url(fondo.jpg);
    background-size: contain;
}
.columnader{
    
    background-image: url(ppp.jpg) ;
    background-size: cover;
    text-align: center;
    flex: 1;
}
em.aspectos {
    background: #ee07ff;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f48c3e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.bannercontacto{
    display: flex; 
       color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f48c3e;
    font-size: smaller;
    background-size: 0%;
   
}
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;

    }
    @media only screen and (max-width: 600px) {
        body {
          font-size: 14px;
        }
        .container {
          width: 100%;
          padding: 0 10px;
        }
      }
      
      /* Estilos para pantallas medianas (tabletas) */
      @media only screen and (min-width: 600px) and (max-width: 1024px) {
        body {
          font-size: 16px;
        }
        .container {
          width: 90%;
          padding: 0 20px;
        }
      }
      
      /* Estilos para pantallas grandes (PC) */
      @media only screen and (min-width: 1024px) {
        body {
          font-size: 18px;
        }
        .container {
          width: 80%;
          padding: 0 40px;
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }
      .container {
        display: flex;
        flex-direction: column;
      }
      
      @media (min-width: 768px) {
        .container {
          flex-direction: row;
        }
      }
